
@{
    ViewData["Title"] = "Admin ana ekran";
}

<p class="p-3">Buraya Cateroy Bilgisi </p>
<p class="p-3">Buraya Post Bilgisi </p>
<p class="p-3">Buraya User Bilgisi </p>
<h3 class ="p-5">GETİRECEKSİN</h3>

