
@{
    ViewData["Title"] = "Admin ana ekran";
}
<h3 class="p-5">Database'in Durumu</h3>
<p class="p-3">Buraya Cateroy Bilgisi : @ViewData["category"]</p>
<p class="p-3">Buraya Post Bilgisi : @ViewData["posts"]</p>
<p class="p-3">Buraya User Bilgisi: @ViewData["users"] </p>


